/* Custom GLOBAL Styles on PRINT */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');

._visibleOnPrint {
  display: none;
}
@media print {
  /* * {
    color: #121212 !important;
  } */

  /* ***************COMMON PRINT STYLES ******************* */
  * {
    font-family: 'Roboto Slab', serif !important;
  }

  .print_format_wrapper {
    background: white !important;
    height: 100vh !important;
  }
  ._disable_print {
    display: none !important;
  }

  ._visibleOnPrint {
    display: block !important;
  }

  .ant-table-selection-column,
  .table_top,
  .ant-pagination,
  .footer {
    display: none !important;
  }

  .print-mv-40 {
    margin: 2.5rem 0 !important;
  }

  .border_none {
    border: none !important;
  }


  /* *******************************PRINTABLE TABLE ************************** */

  /* .print_table_styles table {
    width: 100% !important;
    border: 1px solid #dedede !important;
    border-bottom: 0px !important;
  }
  .print_table_styles table thead tr {
    width: 100% !important;
    border: 1px solid #dedede !important;
    border-bottom: 0px !important;
  }
  .print_table_styles table thead tr th {
    font-size: 11px !important;
    padding: 4px 3px 4px 8px !important;
    border: 1px solid #dedede !important;
    background: #ededed !important;
  }
  .print_table_styles table tbody tr td {
    font-size: 11px !important;
    padding: 4px 3px 4px 8px !important;
    white-space: nowrap !important;
    border: 1px solid #dedede !important;
  } */

  .parent_table {
    width: 100%;
    border: none !important;
  }

  .parent_table tfoot {
    border: none !important;
  }
  .parent_table tfoot tr {
    border: none !important;
  }
  .parent_table tfoot tr td {
    border: none !important;
  }
  .parent_table tfoot tr th {
    border: none !important;
  }

  .footer_data {
    position: fixed;
    bottom: 0 !important;
    width: 100% !important;
    left: 0 !important;
    z-index: 1111 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    /* padding:  0; */
    /* border-top: 1px solid #dadada; */
  }

  .footer_data .footer_details {
    color: #9d9d9d !important;
    font-size: 9px !important;
  }



  

  /* ********************DEFAULT TABLE PRINT ****************** */

  .antd-table-print {
    padding: 0 40px;
  }

  .antd-table-print table {
    width: 100% !important;
    margin-top: 20px;
    /* border: 1px solid #dedede !important;
    border-bottom: 0px !important;
    padding: 11px 44px 0 44px; */
  }
  /* .antd-table-print thead tr {
    width: 100% !important;
    border-bottom: 0px !important;
  } */
  .antd-table-print thead tr th {
    font-size: 12px !important;
    padding: 10px 0 10px 10px !important;
    color: #000000d9 !important;
    text-transform: uppercase;
    background-color: #fafafa;
  }
  .antd-table-print tbody tr td {
    font-size: 14px !important;
    padding: 10px 0 10px 10px !important;
    color: #000000d9 !important;
    font-weight: 400;
  }
  /* .antd-table-print tbody tr:nth-child(odd) td {
    background: #f9f9f9;
  } */
  a {
    color: #333 !important;
  }

  .ant-table-container table > thead > tr:first-child th:first-child {
    border-top-left-radius: 0px !important;
  }
  .ant-table-container table > thead > tr:first-child th:last-child {
    border-top-right-radius: 0px !important;
  }
  .ant-table-cell-scrollbar {
    display: none !important;
  }

  .ant-table-column-sorters {
    padding: 0 !important;
  }

  .ant-table-column-sorter {
    display: none !important;
  }
  

  .static-width {
    width: 160px !important;
  }

  .static-width-header {
    width: 160px !important;
  }

  .dark-text {
    color: #000 !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 13px !important;
    line-height: 15px !important;
    text-transform: capitalize !important;
    margin-top: 10px !important;
  }


  .printTitle {
    padding: 20px 34px;
    padding-bottom: 0px;
  }
  .printTitle h3 {
    color: #143c69;
    font-size: 20px;
    margin: 0;
    font-weight: 800;
  }
}
